* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-font: "Manrope", sans-serif;
  --secondary-font: "Archivo Black", sans-serif;
  --color-1: #fe7743;
  --color-2: #efeeea;
  --color-3: #8f8389;
  --color-4: #273f4f;
  --color-5: #000000;
  --color-6: #ffffff;
}

body {
  font-size: 1.6rem;
  font-family: var(--primary-font);
}

/* Start of Hero-Section & Header */
.hero-section {
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 20%, transparent 80%),
    url("./images/hero-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 105vh;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo img {
  height: 4rem;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo h1 {
  font-family: var(--secondary-font);
  color: var(--color-2);
  font-weight: 500;
  font-size: 2rem;
}

.navigation-menu {
  display: flex;
  align-items: center;
}

.navigation-menu-list {
  list-style-type: none;
  display: flex;
  padding: 0.6rem 1rem;
  background-color: var(--color-3);
  border-radius: 1.5rem;
  gap: 0.4rem;
}

.menu-item {
  height: 100%;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  color: var(--color-2);
  padding: 0.1rem 0.4rem;
  border-radius: 1rem;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.home-menu-item {
  background-color: var(--color-4);
}

.menu-item:hover {
  background-color: var(--color-2);
  color: var(--color-4);
}

.navigation-menu-list-small {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.2rem 1rem;
  background-color: var(--color-3);
  border-radius: 1.5rem;
  gap: 0.4rem;
}

/* .navigation-menu-list-small .menu-item{
  border-radius: 50%;
  display: flex;
  height: 100%;
  align-items: center;
  padding: .5rem;
} */

.menu-item-icon {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  color: var(--color-2);
  padding: 0.4rem 0.4rem;
  border-radius: 0.4rem;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.menu-item-icon:hover {
  background-color: var(--color-2);
  color: var(--color-4);
}

.call-to-action {
  color: var(--color-2);
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 1rem;
}

.motto {
  padding-left: 0.5rem;
}

.cta-button {
  padding: 0.5rem 1rem;
  background-color: #fe7743;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

.cta-button:hover {
  background-color: transparent;
  outline: 2px solid var(--color-2);
}

/* Header media queries */

@media screen and (max-width: 53.125em) {
  .motto {
    display: none;
  }
  .logo h1 {
    font-size: 1.3rem;
  }
  .logo img {
    height: 2.5rem;
  }
}

@media screen and (max-width: 37.5em) {
  .navigation-menu {
    display: none;
  }
}

@media screen and (min-width: 37.5em) {
  .navigation-menu-small {
    display: none;
  }
}

@media screen and (max-width: 30em) {
  .navigation-menu-small {
    display: none;
  }
}

@media screen and (max-width: 15em) {
  .cta-button {
    display: none;
  }
}

/* End of header media query */

/* Start of main hero styling */

.main-hero {
  display: flex;
  flex-direction: column;
  height: 70%;
  margin-top: 5.5rem;
  margin-inline: 9rem;
  padding: 2rem 4rem;
  border: 1px solid white;
  border-radius: 1rem;
  color: var(--color-2);
}

.hero-title {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  /* gap: 0.6rem; */
}

.hero-title-sub {
  font-size: 1.4rem;
  font-weight: 400;
}

.hero-title-main {
  font-size: 4rem;
  display: flex;
  flex-wrap: wrap-reverse;
  font-weight: 700;
  font-family: var(--secondary-font);
}

.hero-title-sub-name {
  text-transform: uppercase;
}

.property-btns-list {
  display: flex;
  gap: 2rem;
  margin-top: 10rem;
  list-style-type: none;
  text-decoration: none;
}

.property-btn-link {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--color-2);
  font-size: 1.4rem;
  font-weight: 600;
  background-color: var(--color-1);
  padding: 0 1.4rem;
  border-radius: 1rem;
}

.hero-section-form {
  margin-top: 3rem;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  border-radius: 1rem;
}

.hero-section-form-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section-form-column label {
  font-weight: 800;
}

.hero-section-dropdown {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-2);
  color: var(--color-2);
  text-transform: capitalize;
}

.hero-section-submit-btn {
  padding: 0 4rem;
  height: 4rem;
  color: var(--color-2);
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px solid var(--color-2);
  border-radius: 3rem;
  text-transform: capitalize;
}

@media screen and (max-width: 74.375em) {
  .hero-title {
    margin-top: 1rem;
  }

  .hero-title-sub-name {
    font-size: 1.2rem;
  }

  .hero-title-main {
    font-size: 2.5rem;
  }

  .hero-section-submit-btn {
    padding: 0 1rem;
  }

  .hero-section-dropdown {
    padding: 0 0.5rem;
  }
}

/* End of main hero stying */

/* End of Hero-Section & Header */

/* Start of About Section styling */

.section-title {
  padding: 1rem 4rem;
  margin-inline: 9rem;
  display: flex;
  justify-content: center;
  background-color: var(--color-2);
  color: var(--color-4);
  text-align: center;
  border-radius: 2rem;
  transform: translateY(-25px);
}

.section-title-text {
  text-transform: uppercase;
  font-size: 3rem;
  font-family: var(--secondary-font);
}

.about-content {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  margin: 0 9rem;
  margin-bottom: 7rem;
  padding: 1rem 6rem;
  align-items: center;
  border: 2px solid var(--color-5);
}

.about-icon {
  font-size: 10rem;
  color: var(--color-1);
}

.about-description {
  font-size: 1.4rem;
  text-align: center;
}

.social-handles {
  padding: 1rem 2rem;
  margin-top: 4rem;
}

.about-more-info-title {
  color: var(--color-4);
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

.about-more-info {
  text-align: center;
  font-size: 1.4rem;
}

.social-handle-icons {
  display: flex;
  gap: 2rem;
  padding-top: 2rem;
  text-decoration: none;
  list-style-type: none;
  justify-content: center;
}

.social-icon {
  color: var(--color-1);
}
/* End of About section styling */

/* Start of Property section styling */
.property-section {
  background-color: none;
  background-color: var(--color-3);
}

.available-spaces {
  margin: 2rem 9rem;
  padding: 2rem 4rem;
  border: 2px solid var(--color-6);
  color: var(--color-2);
  border-radius: 1rem;
}

.property-type-title {
  font-family: var(--secondary-font);
  font-size: 2rem;
  color: var(--color-4);
}

.available-space-type {
  margin-top: 2rem;
}

.prop-listings-group {
  display: flex;
  flex-wrap: wrap;
  padding-inline: 4rem;
  padding-top: 2rem;
  padding-bottom: 6rem;
  justify-content: space-evenly;
}

.property-card {
  padding: 1rem 1rem;
  border-radius: 0.6rem;
  background-color: var(--color-2);
  margin: 1rem 0;
  box-shadow: 0.2rem 0.2rem 0.5rem 0.1rem rgba(0, 0, 0, 0.4);
}

.property-image-wrapper {
  width: 30rem;
  height: 20rem;
  border-radius: 1rem;
}

.property-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.property-name {
  display: flex;
  flex-direction: column;
}

.property-name-price {
  font-family: var(--secondary-font);
  color: var(--color-1);
  font-size: 1.7rem;
  font-weight: 800;
}

.property-name-title {
  font-size: 1.4rem;
  font-weight: 700;
}

.property-description {
  font-size: 1.3rem;
}

.amenity-details-list {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  gap: 1rem;
  color: var(--color-1);
}
/* End of Property section styling */

/* Start of Amenities section */
.amenities-card-container {
  padding: 6rem 9rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.amenity-card {
  padding: 1rem 2rem;
  background-color: var(--color-2);
  border-radius: 1rem;
  width: 48%;
  margin-block: 1rem;
  box-shadow: 0.2rem 0.2rem 0.5rem 0.1rem rgba(0, 0, 0, 0.4);
}

.amenity-icon-wrapper {
  background-color: var(--color-4);
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: var(--color-1);
}

.amenity-description-container {
  display: flex;
  align-items: center;
  margin-top: 0.6rem;
}

.amenity-title-name {
  font-family: var(--secondary-font);
  font-weight: 700;
  padding-right: 1rem;
}

.amenity-description {
  font-size: 1.4rem;
}
/* End of amenities section */

/* Start of Contact section styling */
.contact-section{
  background-color: var(--color-4);
}

.contact-form{
  padding: 1rem 9rem;
}

.form-fieldset{
  padding: 4rem 2rem;
}
/* End of Contact section styling */